body{
  color:white;  
  background: linear-gradient(315deg, #0cbaba 0%, #380036 74%)  no-repeat center center fixed; 
  font-style: italic;
}
.navigationBar{
  display:flex;
  justify-content: space-evenly;
}
.enterRegion{
  margin: 2em 0em;
  height: 2.5em;
  width: 15em;
  outline: none;
  border-radius: 2em;
  color:#000080;
  font-weight: 550;
}
.region{
  display: flex;
  justify-content: center;
}
.weatherInfo{
  display: flex;
  flex-direction: column;
  margin: 2em 30em;
  background: linear-gradient(315deg, #045de9 0%, #09c6f9 74%)  no-repeat center center fixed; 
}
.displayTemperatureAndImg{
  display: flex;
  justify-content: space-evenly;
}
#temperature{
  font-size: 4em;
}
.climateImg{
  width: 5em;
  height: 5em;
  margin-top: 3em;
}
.weatherStatus{
  margin-top: 3em;
}
.weatherForecastProperties{
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #FFFFFF;
  color:rgb(53, 47, 47);
  margin: 0em 0em;
  padding: 0.5em 0em;
}
#day{
  text-align: center;
}
.parentContainer{
  margin-top: 1em;
}
.parentContainer .active_class{
  color:white;
  text-decoration: none;
  margin-left: 3em;
  font-size: 1.5em;
}
#root a{  
  color:white;
  font-size: 1.5em;
}
#root .childElement{
  margin-top:1em;
  margin-left:3em;
}